#editMode {
  margin-top: 90px;
  float: right;
  font-size: 15px;
}

.drag-over {
  background-color: #0095bf;
  border: 5px white dashed;
  box-shadow: 2px 2px 2px 2px black,
              2px 2px 2px 2px black,
              2px 2px 2px 2px black,
              2px 2px 2px 2px black;
}

.dashlet-sortable.drag-active * {
  pointer-events: none;
}

.draggable-element{
  opacity: .4;
}

.while-resize{
  overflow: auto;
  display: inline-block;
  position: relative;
  height: 670px;
}

.while-resize:after{
  content: '';
  position: absolute;
  padding: 0 15px;
}

.while-hover:hover{
  border:1px solid #0095bf;
}
